{% extends layout %}

{% block title %}Server Error{% endblock %}

{% block body %}
<div class="container grid-container mdl-layout__content">
<div class="row grid-x mdl-grid">
<div class="col-sm-12 columns cell small-12 mdl-cell mdl-cell--12-col">
<h1>Server Error</h1>
{% if policy['display_detail'] %}
<h4>Message: {{ message }}</h4>
<hr>
{% for dataTable in dataTables %}
<h3>{{ dataTable.label }}</h3>
<dl>
{% for name,value in dataTable.data %}
<dt>{{ name }}</dt>
<dd>{{ value }}</dd>
{% endfor %}
</dl>
{% endfor %}
<hr>
<p>Exception: {{ exception }}</p>
<p>Code: {{ code }}</p>
<p>Message: {{ message }}</p>
<p>Source: {{ file }}({{ line }})</p>
<p>Trace:</p>
<pre>
{{ trace }}
</pre>
{% endif %}
</div>
</div><!--class="row"-->
</div><!--class="container"-->
{% endblock %}
